html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 8em;
	padding-top: 4.5em;
	counter-reset: h1counter;
}

h1 {
	counter-reset: h2counter;
}

h2 {
	counter-reset: h3counter;
}

h2:before {
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
}

h3:before {
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
	counter-increment: h3counter;
}

.container {
	font-size: 1.3em;
}

.jumbotron {
	background: #719d7d;
}

.jumbotron h1 {
	color: white;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer {
	position: absolute;
	padding-right: 1em;
	padding-top: 1.5em;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 8em;
	background-color: black;
	bottom: 0;
}

.footer-links {
	margin: 0 0 0 0em;
	padding: 0;
	float: right;
	text-align: right;
}

.footer-links>li {
	padding-right: 1em;
	display: inline-block;
}

.navbar-default {
	background-color: black;
	border-color: #12421f;
	text-transform: uppercase;
	font-size: 1.3em;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: black;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #41424C;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #41424C;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #41424C;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #41424C;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #41424C;
}

.navbar-default .navbar-toggle {
	border-color: #41424C;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #41424C;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #41424C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #12421f;
	}
}

/* Custom class to align navbar menu to the right */
.navbar-align-right {
    float: right;
}

/* Custom styles for the site title */

.logo-title-container {
    display: flex;
    align-items: center; /* This will vertically center the children */
    justify-content: start; /* Aligns children to the start of the container */
}

.site-title-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /* Adjust as needed for alignment */
    /* Removed margin-top here to let flexbox handle the alignment */
}

@media (max-width: 768px) { /* or another breakpoint that suits your design */
    .logo-title-container {
        /* Adjust styles for mobile */
    }

    .site-title-container {
        margin-left: 5px; /* Adjust as needed for smaller screens */
    }

    /* Other responsive adjustments */
}


.site-title {
    color: #fff; /* White text */
    font-size: 24px; /* Adjust size as needed */
    font-weight: normal; /* Optional: adjusts the font weight */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }

    .site-title-container {
        display: block; /* Stack title below logo on smaller screens */
        margin-top: 5px; /* Adjust as needed for alignment */
        text-align: left; /* Align the title to the left */
        width: 100%;
        padding-left: 15px; /* Add some padding on the left */
    }

    .site-title {
        font-size: 18px; /* Smaller font size for mobile devices */
    }

    .navbar-toggle {
        margin-top: 10px; /* Adjust toggle button position */
        float: right; /* Align the toggle button to the right */
    }
}

<!-- for hero image -->

/* Existing CSS */
.full-width-image {
    width: 100%;
    height: auto;
}

/* Hide image on screens smaller than 768px */
@media (max-width: 768px) {
    .full-width-image {
        display: none;
    }
}
